{% extends '@themeLayouts/scripts/default.html.twig' %}

{% set pageTitle = 'logout'|trans %}

{% block title %}{{ parent() }} - {{ pageTitle }} {% endblock %}
{% block pageHeading %}{{ parent() }} - {{ pageTitle }}{% endblock %}

{% block content %}
    <div class="logout">
        <header class="page__header">
            <h1 class="page__title">Logout</h1>
        </header>
        <main class="page__content">
            {% include '@theme/Authentication/View/Proxy/Partials/Shared/site-notice.html.twig' with { className: 'notification__global-site-notice--logout' } %}
            <p>{{ 'logout_description'|trans }}</p>
            {% if 'logout_information_link_text'|trans %}
                <p><a href="{{ 'logout_information_link_target'|trans }}">{{ 'logout_information_link_text'|trans }}</a></p>
            {% endif %}
        </main>
    </div>
{% endblock %}
