{% extends '@themeLayouts/scripts/default.html.twig' %}

{% set pageTitle = 'logout'|trans %}

{% block title %}{{ parent() }} - {{ pageTitle }} {% endblock %}
{% block pageHeading %}{{ parent() }} - {{ pageTitle }}{% endblock %}

{% block content %}
    <div class="logout">
        <header class="page__header">
            <h1 class="page__title">Logout</h1>
        </header>
        <main class="page__content">
            <p>{{ 'logout_description'|trans }}</p>
            <p>{{ 'logout_information_link'|trans|raw }}</p>
        </main>
    </div>
{% endblock %}
