<img class="logo-small" src="{{ logoUrl }}"
     alt="{{ organisationName }} logo" />
<h3>{{ text|raw }}</h3> {# todo: test how this works for screen readers as this may be counterintuïtive #}
{% if attributeSource == 'engineblock' %} {# TODO: moet dit behouden blijven? #}
    <a class="small" href="{{ 'name_id_support_url'|trans }}" target="_blank">{{ 'consent_name_id_support_link'|trans }}</a>
{% else %}
    <input type="checkbox" class="modal" id="incorrect_{{ attributeSource }}" />
    <label class="modal" for="incorrect_{{ attributeSource }}">
        {{ 'consent_attributes_correction_text'|trans }}
    </label>
    {% include '@theme/Authentication/View/Proxy/consent-slidein-correction.html.twig' %}
{% endif %}
