<img class="logo-small" src="{{ logoUrl }}"
     alt="{{ organisationName }} logo" />
<p>{{ text|raw }}</p>
{% if attributeSource == 'engineblock' %}
    <a class="small" href="{{ 'name_id_support_url'|trans }}" target="_blank">{{ 'consent_name_id_support_link'|trans }}</a>
{% else %}
    <input type="checkbox" class="modal" id="incorrect_{{ attributeSource }}" />
    <label class="modal" tabindex="0" for="incorrect_{{ attributeSource }}">
        {{ 'consent_attributes_correction_text'|trans }}
    </label>
    {% include '@theme/Authentication/View/Proxy/Partials/Consent/Modals/correction.html.twig' %}
{% endif %}
