<li>
    {# in case a tooltip needs to be shown set the id #}
    {% if attributeMotivations[attributeIdentifier] is defined %}
        {% set id %}
            tooltip{{ loop.index }}
        {% endset %}
        <input type="checkbox" tabindex="-1" role="button" aria-hidden="true" class="tooltip visually-hidden" id="{{ id|trim }}" name="{{ id|trim }}" />
        {% include '@theme/Authentication/View/Proxy/Partials/Consent/Attributes/name.html.twig' with { attributeName: attributeShortName(attributeIdentifier, locale()), id: id|trim } %}
    {% else %}
        {% include '@theme/Authentication/View/Proxy/Partials/Consent/Attributes/name.html.twig' with { attributeName: attributeShortName(attributeIdentifier, locale()) } %}
    {% endif %}
    {# Single attribute value #}
    {% if attributeValues|length == 1 %}
        {% include '@theme/Authentication/View/Proxy/Partials/Consent/Attributes/value.html.twig' with { attributeValue: attributeValues|first } %}
        {% if attributeMotivations[attributeIdentifier] is defined %}
            {% include '@theme/Authentication/View/Proxy/Partials/Consent/Attributes/tooltip.html.twig' with { tooltipValue: attributeMotivations[attributeIdentifier] } %}
        {% endif %}
    {# Multiple attribute values #}
    {% else %}
        {% if attributeValues|length > 5 %}
            <div class="attribute__valueWrapper">
                <input type="checkbox" id="showMoreCheckbox2" name="showMoreCheckbox2" role="button" aria-hidden="true" class="groupMembership__checkbox"/>
        {% endif %}
        <ul class="attribute__value attribute__value--list">
            {% for value in attributeValues %}
                <li>
                    {% include '@theme/Authentication/View/Proxy/Partials/Consent/Attributes/value.html.twig' with { attributeValue: value } %}
                    {% if attributeMotivations[attributeIdentifier] is defined %}
                        {% include '@theme/Authentication/View/Proxy/Partials/Consent/Attributes/tooltip.html.twig' with { tooltipValue: attributeMotivations[attributeIdentifier] } %}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        {% if attributeValues|length > 5 %}
                <label tabindex="0" for="showMoreCheckbox2" class="groupMembership__label">
                    <span class="visually-hidden">{{ 'button'|trans }}</span>
                    <span class="showMore">
                        {{ 'consent_attributes_show_more'|trans }}
                    </span>
                    <span class="showLess">
                        {{ 'consent_attributes_show_less'|trans }}
                    </span>
                </label>
            </div>
        {% endif %}
    {% endif %}
</li>

