<label tabindex="0" for="{{ for }}" {% if className is defined %}class="{{ className }}"{% endif %}>
    {% if showMore is defined %}
        <span class="showMore">
            {{ showMore|trans }}
        </span>
    {% endif %}
    {% if showLess is defined %}
        <span class="showLess">
            {{ showLess|trans }}
        </span>
    {% endif %}
    <span class="visually-hidden">{{ 'consent_attributes_screenreader'|trans({'%orgName%': organisationName}) }}</span>
</label>
