{% set surfConext = "SURFconext" %}

<!DOCTYPE html>
<html lang="{{ locale()|escape('html_attr') }}">
<head>
    <title>{% block title %}{{ defaultTitle }}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="robots" content="noindex, nofollow"/>
    <meta content="ie=edge,chrome=1" http-equiv="x-ua-compatible">
    <meta content="initial-scale=1.0,width=device-width" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="translucent-black" name="apple-mobile-web-app-status-bar-style">
    <link href="/favicon.ico" rel="shortcut icon">
    {% block stylesheets %}{% spaceless %}
    <link href="/stylesheets/application.css?v={{ assetsVersion }}" rel="stylesheet" type="text/css"/>
    {% endspaceless %}{% endblock %}

    <!-- Firefox CSS -->
    <style>
        @-moz-document url-prefix() {
            .comp-links .help {
                line-height: 1.7rem !important;
            }
        }
    </style>
</head>
<body>
{% block background %}{% endblock %}

{% block container %}
    <div class="l-container {% if wide is defined and wide == true %}wide{% endif %}">
        {% block content %}{% endblock %}
    </div>
{% endblock %}

{% if beforeScriptHtml is defined %}
    {{ beforeScriptHtml|raw }}
{% endif %}

<script src="/javascripts/application.min.js?v={{ assetsVersion }}" type="text/javascript"></script>

</body>
</html>
