<div class="slidein about">
  <div class="mod-filler"></div>
  <div class="mod-content">
    <a class="close" href="#">{{ 'slidein_close'|trans }}</a>
    <section>
        <h1>{{ 'consent_slidein_about_head'|trans }}</h1>
        <p>{{ 'consent_slidein_about_text'|trans }}</p>
    </section>
    <a href="{{ 'openconext_support_url'|trans }}" target="_blank">{{ 'slidein_read_more'|trans }}</a>
  </div>
</div>
