{% extends '@themeLayouts/scripts/default.html.twig' %}

{# Prepare the page title #}
{% set pageTitle = 'idp_debugging_title'|trans %}

{% block title %}{{ parent() }} - {{ pageTitle }} {% endblock %}
{% block pageHeading %}{{ parent() }} - {{ pageTitle }}{% endblock %}

{% block content %}

    <div class="box">
        <div class="mod-content">
            {% if showMailFlashMessage %}
                <table class="comp-table">
                    <tr>
                        <td>
                            <i class="c-icon c-icon-checkmark fa-check" alt="&#9989;"></i>
                            {{ 'attributes_data_mailed'|trans }}
                        </td>
                    </tr>
                </table>
            {% endif %}

            <h1>{{ pageTitle }}</h1>
            <p>
                {% if validationResult.isValid %}
                    <i class="c-icon c-icon-checkmark fa-check"></i>
                    {{ 'attributes_validation_succeeded'|trans }}
                {% else %}
                    {% if validationResult.errors|length > 0 %}
                        <i class="c-icon fa c-icon-error fa-exclamation"></i>
                    {% else %}
                        <i class="c-icon c-icon-warning fa-exclamation"></i>
                    {% endif %}

                    {{ 'attributes_validation_failed'|trans }}
                {% endif %}
            </p>

            <form method="post">
                <input type="hidden" name="clear" value="true"/>
                <input type="submit" class="c-button" value="{{ 'retry'|trans }}"/>
            </form>

            <h2>Identity Provider</h2>
            <div class="l-overflow">
                <table class="comp-table">
                    <tr>
                        <th>
                            Logo
                        </th>
                        <td>
                            <img class="logo"
                                 src="{% if idp.mdui.hasLogo %}{{ idp.mdui.logo.url }}{% else %} {{ '/images/placeholder.png' }}{% endif %}"
                                 alt="IdP logo"/>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {{ 'name'|trans }}
                        </th>
                        <td>
                            {{ idp.nameEn }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Entity ID
                        </th>
                        <td>
                            {{ idp.entityId }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Workflow Status
                        </th>
                        <td {% if idp.workflowState == 'prodaccepted' %}{{ 'class="green"' }}{% endif %}>
                            {{ idp.workflowState }}
                        </td>
                    </tr>
                </table>
            </div>

            <h2>{{ 'attributes'|trans }}</h2>
            {% for error in validationResult.errorsForMissingAttributes %}
                <p class="error">
                    <i class="c-icon c-icon-error fa-exclamation"></i>
                    {{ error[0]|trans({'%arg1%': error[1], '%arg2%': error[2], '%arg3%': error[3]}) }}
                </p>
            {% endfor %}
            {% for warning in validationResult.warningsForMissingAttributes %}
                <p class="warning">
                    <i class="c-icon c-icon-warning fa-exclamation"></i>
                    {{ warning[0]|trans({'%arg1%': warning[1], '%arg2%': warning[2], '%arg3%': warning[3]}) }}
                </p>
            {% endfor %}
            <div class="l-overflow">
                <table class="comp-table">
                    <thead>
                    <tr>
                        <th>
                            {{ 'validation'|trans }}
                        </th>
                        <th>
                            {{ 'suite_name'|trans }} Display Name
                        </th>
                        <th>
                            {{ 'name'|trans }}
                        </th>
                        <th>
                            {{ 'value'|trans }}
                        </th>
                        <th>
                            {{ 'remarks'|trans }}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for attributeName, attributeValues in attributes %}
                        <tr>
                            <td>
                                {% if validationResult.isValid(attributeName) %}
                                    <i class="c-icon c-icon-checkmark fa-check" alt="&#9989;"></i>
                                {% else %}
                                    {% if validationResult.errors(attributeName).length > 0 %}
                                        <p class="error">
                                            <i class="c-icon c-icon-error fa-exclamation"></i>
                                        </p>
                                    {% else %}
                                        <p class="warning"><i class="c-icon c-icon-warning fa-exclamation"></i>
                                        </p>
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td>
                                {{ attributeName(attributeName, 'en') }}
                            </td>
                            <td>
                                {{ attributeName }}
                            </td>
                            <td>
                                {% if attributeValues|length == 1 %}
                                    {{ attributeValues[0] }}
                                {% else %}
                                    <ul>
                                        {% for attributeValue in attributeValues %}
                                            <li>{{ attributeValue }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </td>
                            <td>
                                {% if not validationResult.isValid(attributeName) %}
                                <em>
                                    {% for error in validationResult.errors(attributeName) %}
                                            {{ error[0]|trans({'%arg1%': error[1], '%arg2%': error[2], '%arg3%': error[3]}) }}
                                    {% endfor %}
                                    {% for warning in validationResult.warnings(attributeName) %}
                                           {{ warning[0]|trans({'%arg1%': warning[1], '%arg2%': warning[2], '%arg3%': warning[3]}) }}
                                    {% endfor %}
                                 </em>
                                {% endif %}
                            </td>
                        </tr>

                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <p>{{ 'idp_debugging_mail_explain'|trans }}</p>

            <form method="post">
                <input type="hidden" name="mail" value="true"/>
                <input type="submit" class="c-button" value="{{ 'idp_debugging_mail_button'|trans }}"/>
            </form>
        </div>
    </div>
{% endblock %}
