{% extends '@themeLayouts/scripts/default.html.twig' %}

{% block stylesheets %}{% spaceless %}
    <link href="/stylesheets/error-page.css?v={{ assetsVersion }}" rel="stylesheet" type="text/css"/>
{% endspaceless %}{% endblock %}

{% set feedbackInfo = feedbackInfo() %}
{% set hideHeader = true %}
{% set hideFooter = true %}

{% block languageSwitcher %}
    {{ languageSwitcher.form(locale(), postData()) }}
{% endblock %}

{% block content %}

    {{ flushLog('Showing feedback page with message: ' ~ pageTitle) }}

    <div class="error-container">

        <div class="error-title">
            <h1 class="error-title__heading">{% block pageTitle %}{% endblock %}</h1>
            <span class="error-title__error-message">{% block errorMessage %}{% endblock %}</span>
        </div>

        {% if feedbackInfo is not empty %}

        <div class="horizontal-rule">
            <hr class="horizontal-rule__line">
        </div>

        <div class="error-details">
            <span class="error-details__intro-text">In overeenstemming met wetgeving ten aanzien van gegevensbescherming vragen we je even de tijd te nemen de belangrijkste punten van ons Privacybeleid door te nemen</span>
            <div class="error-details__feedback-list">
                {% block feedbackInfo %}

                        {% for name, value in feedbackInfo %}
                        <div class="feedback-info">
                            <span class="feedback-info__label">{{ name|trans }}:</span>
                            <span class="feedback-info__value">{{ value }}</span>
                        </div>
                        {% endfor %}

                {% endblock %}
            </div>
        </div>

        {% endif %}

        <p>{{ 'error_help_desc'|trans|raw }}</p>

        {% if exception is defined %}
            <div class="l-overflow">
                <strong>{{ exception.message }}</strong>
                <pre>
                {{ var_dump(exception) }}

                {% if exception.xdebug_message is defined %}
                    {{ exception.xdebug_message|raw }}
                {% endif %}
                </pre>
            </div>
        {% endif %}

    </div>

{% endblock %}