{% extends '@themeLayouts/scripts/default.html.twig' %}

{% block stylesheets %}{% spaceless %}
    <link href="/stylesheets/error-page.css?v={{ assetsVersion }}" rel="stylesheet" type="text/css"/>
{% endspaceless %}{% endblock %}

{% set feedbackInfo = feedbackInfo() %}

{% block content %}

    {{ flushLog('Showing feedback page with message: ' ~ pageTitle) }}

    <div class="box">
        <div class="mod-content">
            <h1>{% block pageTitle %}{% endblock %}</h1>
            {% block errorMessage %}{% endblock %}

            {% block feedbackInfo %}
            <div class="l-overflow">
                <table class="comp-table">
                    <thead></thead>
                    <tbody>

                    {% if feedbackInfo is not empty %}
                        {% for name, value in feedbackInfo %}
                            <tr>
                                <td class="strong">{{ name|trans }}:</td>
                                <td class="smaller">{{ value }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}

                    </tbody>
                </table>
            </div>
            {% endblock %}

            <p>{{ 'error_help_desc'|trans|raw }}</p>

            {% block backButton %}
            {# @todo make the number of steps in history that the back button makes dynamic, it is not always 2 #}
            <a href="#" id="GoBack" class="c-button" onclick="history.back(-2); return false;">
                {{ 'go_back'|trans|raw }}
            </a>
            {% endblock %}

            {% if exception is defined %}
                <div class="l-overflow">
                    <strong>{{ exception.message }}</strong>
                    <pre>
                    {{ var_dump(exception) }}

                    {% if exception.xdebug_message is defined %}
                        {{ exception.xdebug_message|raw }}
                    {% endif %}
                    </pre>
                </div>
            {% endif %}

        </div>
    </div>
{% endblock %}