{% extends '@themeLayouts/scripts/default.html.twig' %}

{% block stylesheets %}{% spaceless %}
  <link href="/stylesheets/error-page.css?v={{ assetsVersion }}" rel="stylesheet" type="text/css"/>
{% endspaceless %}{% endblock %}

{# Prepare the page title #}
{% set pageTitle = 'error_405'|trans %}
{% set hideHeader = true %}
{% set hideFooter = true %}

{% block title %}{{ parent() }} - {{ pageTitle }} {% endblock %}
{% block pageHeading %}{{ parent() }} - {{ pageTitle }}{% endblock %}

{% block languageSwitcher %}
  {{ languageSwitcher.form(locale(), postData()) }}
{% endblock %}

{% block content %}

<div class="error-container">

  <div class="error-container__content">
    <div class="error-title">
      <h1 class="error-title__heading">{{ pageTitle }}</h1>
      <span class="error-title__error-message">{{ 'error_405_desc'|trans({'%requestMethod%': requestMethod, '%uri%': uri,'%allowedMethods%': allowedMethods}) }}</span>
    </div>
  </div>
  {% include "@theme/Default/View/Error/partial/footer.html.twig" %}
</div>

{% endblock %}
