<div class="mod-header">
    <h1 class="title">
        {% block pageHeading %}{{ defaultHeader }}{% endblock %}

        {% if greenHeader is defined %}
            <strong>{{ greenHeader }}</strong>
        {% endif %}
    </h1>

    <div class="meta">

        {% if displayLanguageSwitcher is not defined or displayLanguageSwitcher == true %}
            {{ languageSwitcher.form(locale(), postData()) }}
        {% endif %}

        <ul class="comp-links">

            {% if backLink is defined and backLink == true %}
                <li>
                    <a href="javascript:window.history.back(-2)">{{ 'return_to_sp'|trans|capitalize }}</a>
                </li>
            {% endif %}

            {% if helpLink is defined %}
                <li>
                    <a href="{{ helpLink }}" target="_blank">{{ 'help_header'|trans }}<span class="help">?</span></a>
                </li>
            {% endif %}
        </ul>

    </div>
    <a class="burger" href="#footer"><img src="/images/burger.svg" alt="&#9776;"></a>
</div>
