<input type="checkbox" tabindex="-1" role="button" aria-pressed="false" class="{{ type }} visually-hidden" id="{{ loop.id }}" name="{{ id }}" />
<label tabindex="0" for="{{ id }}" class="{{ class }}"><span  class="visually-hidden">{{ text }}</span></label>
