<section class="wayf__remainingIdps {% if connectedIdps.formattedPreviousSelectionList is not empty %}hidden{% endif %}">
    <h2 id="remainingIdps__title" class="remainingIdps__title visually-hidden">
        {% if connectedIdps.formattedPreviousSelectionList %}
            {{ 'wayf_remaining_idps_title_screenreader'|trans }}
        {% else %}
            {{ 'wayf_select_account_screenreader'|trans }}
        {% endif %}
    </h2>
    {% include '@theme/Authentication/View/Proxy/Partials/WAYF/search.html.twig' %}

    {% set idpListSorted = connectedIdps.formattedIdpList|sort((a, b) => a.displayTitle|lower <=> b.displayTitle|lower) %}
    {% if showIdPBanner is defined and showIdPBanner %}
        {% set requestUri %}
            {% if '?' in app.request.requestUri %}
                {{ app.request.requestUri|replace({'?': '#defaultIdp?'}) }}
            {% else %}
                {{ app.request.requestUri ~ '#defaultIdp' }}
            {% endif %}
        {% endset %}
        {% set organisationNoun = 'organisation_noun'|trans %}
        {% set defaultIdpText %}
            {{ 'wayf_defaultIdp_start'|trans({ '%organisation_noun%': organisationNoun }) }} <a href="{{ requestUri|spaceless }}" class="wayf__defaultIdpLink">{{ 'wayf_defaultIdp_linkText'|trans({ '%defaultIdpName%': connectedIdps.defaultIdPTitle }) }}</a>
        {% endset %}
        {% include '@theme/Default/Partials/informational.html.twig' with {
            class: 'remainingIdps__defaultIdp',
            text: defaultIdpText,
            id: 'defaultIdpDescription',
        } %}
    {% endif %}
    {% include '@theme/Authentication/View/Proxy/Partials/WAYF/rememberChoice.html.twig' %}
    {% if showIdPBanner is defined and showIdPBanner %}
        {% include '@theme/Authentication/View/Proxy/Partials/WAYF/idp/idpList.html.twig' with { idpList: idpListSorted, delete: false, listName: 'remaining', id: 'remainingIdps__title', showIdPBanner: showIdPBanner } %}
    {% else %}
        {% include '@theme/Authentication/View/Proxy/Partials/WAYF/idp/idpList.html.twig' with { idpList: idpListSorted, delete: false, listName: 'remaining', id: 'remainingIdps__title', showIdPBanner: false } %}
    {% endif %}

    <div id="idpTemplate" class="hidden">
        {% include '@theme/Authentication/View/Proxy/Partials/WAYF/idp/idp.html.twig' with { idp: idpListSorted.0, delete: false, listName: 'template', loop: {index: 1} } %}
    </div>
</section>
