<footer class="error-container__footer footer">
    <div class="footer__button-row">
        <div class="footer-buttons">
            <div class="footer-buttons__link">
                <a href="{{ 'error_wiki-href'|trans }}" target="_blank" class="footer-button" title="{{ 'error_wiki-link-text'|trans }}">
                    <i class="footer-button__icon fa-wikipedia-w"></i>
                    <p class="footer-button__text">{{ 'error_wiki-link-text'|trans }}</p>
                </a>
            </div>
            <div class="footer-buttons__link">
                <a href="{{ 'error_help-desk-link-href'|trans }}" target="_blank" class="footer-button" title="{{ 'error_help-desk-link-text'|trans }}">
                    <i class="footer-button__icon fa-graduation-cap"></i>
                    <p class="footer-button__text">{{ 'error_help-desk-link-text'|trans }}</p>
                </a>
            </div>
            <div class="footer-buttons__link">
                <a href="mailto:{{ 'error_help-desk-email'|trans }}" target="_blank" class="footer-button">
                    <i class="footer-button__icon fa-paper-plane"></i>
                    <p class="footer-button__text">{{ 'error_help-desk-email-text'|trans }}</p>
                </a>
            </div>
        </div>
    </div>
</footer>