<!DOCTYPE html>
<html lang="{{ locale()|escape('html_attr') }}">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">
    <meta content="IE=edge" http-equiv="x-ua-compatible">
    <meta content="initial-scale=1.0,width=device-width" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="translucent-black" name="apple-mobile-web-app-status-bar-style">
    <meta property="og:title" content="{{ defaultTitle }}">
    <meta property="og:site_name" content="{{ defaultTitle }}">
    <meta property="og:image" content="{{ defaultLogo }}">
    <title>{% block title %}{{ defaultTitle }}{% endblock %}</title>
    <link href="/favicon.ico?v={{ assetsVersion }}" rel="shortcut icon" type="image/x-icon">
    {% block stylesheets %}{% spaceless %}
        <link rel="preload" href="/fonts/sourcesanspro-semibold-webfont.woff2?v={{ assetsVersion }}" as="font" type="font/woff2" crossorigin>
        <link rel="preload" href="/fonts/sourcesanspro-bold-webfont.woff2?v={{ assetsVersion }}" as="font" type="font/woff2" crossorigin>
        <link rel="preload" href="/fonts/nunito-semibold.woff2?v={{ assetsVersion }}" as="font" type="font/woff2" crossorigin>
        <link rel="preload" href="/fonts/sourcesanspro-regular-webfont.woff2?v={{ assetsVersion }}" as="font" type="font/woff2" crossorigin>
        <link href="/stylesheets/application.css?v={{ assetsVersion }}" rel="stylesheet">
    {% endspaceless %}{% endblock %}
</head>
<body{% if envName is defined and envName %} data-envname="{{ envName }}" data-ribboncolor="{{ envRibbonColor }}"{% endif %}>
{% block nojs %}{% endblock %}
{% block background %}{% endblock %}

{% block header %}
{% endblock %}

{% block container %}
    <div class="container {% block containerClasses %}{% endblock %}">
        {% block content %}{% endblock %}
    </div>
{% endblock %}
{% block footer %}{% endblock %}

<script src="/javascripts/application.min.js?v={{ assetsVersion }}"></script>

</body>
</html>
