{% extends '@theme/Default/View/Error/error.html.twig' %}

{% set pageTitle = 'error_authorization_policy_violation'|trans %}
{% block pageTitle %}{{ pageTitle }}{% endblock %}
{% block title %}{{ parent() }}{% endblock %}
{% block pageHeading %}{{ pageTitle }}{% endblock %}

{% block errorMessage %}
    <h2>
        {% if withIdpName %}
            {{ 'error_authorization_policy_violation_info'|trans({'%idpName%': feedbackInfoMap['identityProviderName']}) }}
        {% else %}
            {{ 'error_authorization_policy_violation_info_no_idp_name'|trans }}
        {% endif %}
    </h2>

    {% if logo is not null %}
        <img src="{{ logo.url }}?v={{ assetsVersion }}"
             class="pull-right"
             width="{{ logo.width }}"
             height="{{ logo.height }}"
             alt=""
        >
    {% endif %}

    {% if policyDecisionMessage is not null %}
        <p class="error-title__error-message--institution">{{ policyDecisionMessage }}</p>

        <div class="horizontal-rule">
            <hr class="horizontal-rule__line">
        </div>

    {% endif %}
    {% if withIdpName and withSpName %}
        {{ 'error_authorization_policy_violation_desc'|trans({'%spName%': feedbackInfoMap['serviceProviderName'], '%idpName%': feedbackInfoMap['identityProviderName']}) }}
    {% elseif withIdpName %}
        {{ 'error_authorization_policy_violation_desc_no_sp_name'|trans({'%idpName%': feedbackInfoMap['identityProviderName']}) }}
    {% elseif withSpName %}
        {{ 'error_authorization_policy_violation_desc_no_idp_name'|trans({'%spName%': feedbackInfoMap['serviceProviderName']}) }}
    {% else %}
        {{ 'error_authorization_policy_violation_desc_no_name'|trans }}
    {% endif %}

{% endblock %}

{% block errorMessageClass %}error-message--no-bold{% endblock %}

{# The PDP error page should not show the table with the feedback information and back button. #}
{% block feedbackInfo %}{% endblock %}
