{% extends '@theme/Default/View/Error/error.html.twig' %}

{% set pageTitle = 'error_missing_required_fields'|trans %}
{% block pageTitle %}{{ pageTitle }}{% endblock %}
{% block title %}{{ parent() }}{% endblock %}
{% block pageHeading %}{{ pageTitle }}{% endblock %}

{% block errorMessage %}
    <p>
    {% if withIdpName and withSpName %}
        {{ 'error_missing_required_fields_desc'|trans({'%idpName%': feedbackInfoMap['identityProviderName'], '%spName%': feedbackInfoMap['serviceProviderName']}) }}
    {% elseif withIdpName %}
        {{ 'error_missing_required_fields_desc_no_sp_name'|trans({'%idpName%': feedbackInfoMap['identityProviderName']}) }}
    {% elseif withSpName %}
        {{ 'error_missing_required_fields_desc_no_idp_name'|trans({'%spName%': feedbackInfoMap['serviceProviderName']}) }}
    {% else %}
        {{ 'error_missing_required_fields_desc_no_name'|trans }}
    {% endif %}
    </p>

    <p>
        <ul>
            <li>UID</li>
            <li>schacHomeOrganization</li>
        </ul>
    </p>

{% endblock %}
