{% if idp['connected'] is defined %}
    {% set connectable = 'true' %}
{% else %}
    {% set connectable = 'false' %}
{% endif %}

<div
    aria-describedby="idp__title{{ listName }}{{ loop.index }}"
    class="wayf__idp{% if idp['connected'] is defined and not idp['connected'] %} wayf__idp--noAccess{% endif %}"
    data-connectable="{{ connectable }}"
    data-index="{{ loop.index }}"
    data-count="{% if idp['count'] is defined %}{{ idp['count'] }}{% else %}0{% endif %}"
    {% if idp['isDefaultIdp'] %}id="defaultIdp"{% endif %}
    tabindex="0"
    data-entityid="{{ idp['entityId'] }}"
    data-title="{{ idp['displayTitle'] }}"
>
    <div class="idp__logo">
        {% if idp.logo is not null %}
            {% set logoUrl = idp.logo %}
        {% else %}
            {% set logoUrl = "/images/placeholder.png?v=" ~ assetsVersion %}
        {% endif %}
        <img src="{{ logoUrl }}" alt="" loading="lazy">
    </div>
    <div class="idp__content">
        <div class="idp__border"></div>
        <h3
            id="idp__title{{ listName }}{{ loop.index }}"
            class="idp__title"
        ><span class="visually-hidden">{{ 'wayf_idp_title_screenreader'|trans }}</span>{{ idp['displayTitle'] }}</h3>
        {% include '@theme/Authentication/View/Proxy/Partials/WAYF/idp/idpForm.html.twig' %}
        {% if idp['connected'] is defined and not idp['connected'] or delete %}
            {% include '@theme/Authentication/View/Proxy/Partials/WAYF/idp/idpDeleteDisable.html.twig' %}
        {% endif %}
    </div>
</div>
