{% import "@themeLayouts/scripts/language-switcher.html.twig" as languageSwitcher %}

<footer class="footer__general">
    <ul class="footer__menu">
        <li class="footer__item">
            {% if helpLink is defined %}
                <a href="{{ 'openconext_support_url'|trans }}" target="_blank" rel="noreferrer noopener">{{ 'help_header'|trans|capitalize }}</a>
            {% endif %}
        </li>
        <li class="footer__item">
            {% if displayLanguageSwitcher is not defined or displayLanguageSwitcher == true %}
                {{ languageSwitcher.form(locale(), postData()) }}
            {% endif %}
        </li>
        <li class="footer__item">
            <a href="{{ 'terms_of_service_link_target'|trans }}" target="_blank">{{ 'terms_of_service_link_text'|trans }}</a>
        </li>
    </ul>
</footer>
