<div class="slidein correction-{{ attributeSource }}">
    <div class="mod-filler"></div>
    <div class="mod-content">
        <a class="close" href="#">{{ 'slidein_close'|trans }}</a>
        <section>
            <h1>{{ 'consent_slidein_correction_title'|trans }}</h1>
            {% if attributeSource == 'idp' %}
                <p>{{ 'consent_slidein_correction_text_idp'|trans }}</p>
                {% include '@theme/Authentication/View/Proxy/ConsentSlideinContactDetails.html.twig' %}
            {% else %}
                <p>{{ 'consent_slidein_correction_text_aa'|trans }}</p>
            {% endif %}
        </section>
    </div>
</div>
