{% extends '@theme/Default/View/Error/error.html.twig' %}

{% set pageTitle = 'error_stepup_callout_unmet_loa_title'|trans %}
{% block pageTitle %}{{ pageTitle }}{% endblock %}
{% block title %}{{ parent() }} - {{ pageTitle }} {% endblock %}
{% block pageHeading %}{{ pageTitle }}{% endblock %}

{% block errorMessage %}<p>{{ 'error_stepup_callout_unmet_loa_desc'|trans }}</p>

<p><a href="{{ 'error_stepup_callout_unmet_loa_link_target'|trans }}">{{ 'error_stepup_callout_unmet_loa_link_text'|trans }}</a></p>
{% endblock %}
