{% import "@themeLayouts/scripts/language-switcher.html.twig" as languageSwitcher %}
<footer id="footer" class="l-footer">

    <nav class="mod-footer" aria-label="{{ 'footer_navigation_screenreader'|trans }}">
        <div class="l-container wide">
            <ul class="footer-menu">

                <li class="nav-row left">
                    {{ 'service_by'|trans }} <a href="{{ 'serviceprovider_link_target'|trans }}">{{ 'serviceprovider_link_text'|trans }}</a>
                </li>

                <li class="nav-row">
                    {% if displayLanguageSwitcher is not defined or displayLanguageSwitcher == true %}
                        {{ languageSwitcher.form(locale(), postData()) }}
                    {% endif %}
                </li>

                <li class="nav-row right">
                    <ul class="comp-links">

                        {% if helpLink is defined %}
                            <li>
                                <a href="{{ helpLink }}" target="_blank">{{ 'help'|trans|capitalize }}</a>
                            </li>
                        {% endif %}

                        {% if backLink is defined and backLink == true %}
                            <li>
                                <a href="javascript:window.history.back(-2)">{{ 'return_to_sp'|trans|capitalize }}</a>
                            </li>
                        {% endif %}

                        <li>
                            <a href="{{ 'terms_of_service_link_target'|trans }}" target="_blank">{{ 'terms_of_service_link_text'|trans }}</a>
                        </li>

                    </ul>
                </li>

            </ul>
        </div>
    </nav>
</footer>
