{% set currentLocale = app.request.locale %}
<ul class="consent__disclaimer">
    <li class="disclaimer__privacy disclaimer__item">
        <div>
            {% include '@theme/Authentication/View/Proxy/Partials/Consent/SVG/file_info.svg' %}
            <p>
                <strong>{{ spName }}</strong> {{ 'consent_disclaimer_privacy_statement'|trans({ '%org%': organizationName }) }}{% if sp.mdui.hasPrivacyStatementURL(currentLocale) %}
                    ({{ 'consent_disclaimer_privacy_read'|trans }} <a href="{{ sp.mdui.getPrivacyStatementURL(currentLocale) }}" target="_blank" rel="noreferrer noopener">{{ 'consent_disclaimer_privacy_policy'|trans }}</a>){% endif %}.
            </p>
        </div>
    </li>
    <li class="disclaimer__secure disclaimer__item">
        <div>
            {% include '@theme/Authentication/View/Proxy/Partials/Consent/SVG/shield_key.svg' %}
            <p>
                {% set organisationNoun = 'organisation_noun'|trans %}
                <strong>{{ 'suite_name'|trans }}</strong> {{ 'consent_disclaimer_secure'|trans({ '%orgNoun%': organisationNoun, '%spName%': spName }) }} <a href="{{ 'openconext_support_url'|trans }}" target="_blank" class="link__readmore" rel="noreferrer noopener">{{ 'suite_name'|trans }}</a>).
            </p>
        </div>
    </li>
</ul>
