<ul class="consent__disclaimer">
    <li class="disclaimer__privacy">
        <div>
            {% include '@theme/Authentication/View/Proxy/Partials/Consent/SVG/file_info.svg' %}
            <div>
                {% if sp.coins.termsOfServiceUrl is not null %}
                    {{ 'consent_disclaimer_privacy'|trans({'%org%': organizationName, '%privacy_url%': sp.coins.termsOfServiceUrl})|raw }}
                {% else %}
                    {{ 'consent_disclaimer_privacy_nolink'|trans({ '%org%': organizationName })|raw }}
                {% endif %}
            </div>
        </div>
    </li>
    <li class="disclaimer__secure">
        <div>
            {% include '@theme/Authentication/View/Proxy/Partials/Consent/SVG/shield_key.svg' %}
            <p>
                <strong>{{ 'suite_name'|trans }}</strong> {{ 'consent_disclaimer_secure'|trans }} <a href="{{ 'openconext_support_url'|trans }}" target="_blank" class="link__readmore">{{ 'suite_name'|trans }}</a>).
            </p>
        </div>
    </li>
</ul>
