<img class="logo-small" src="{{ logoUrl }}"
     alt="{{ organisationName }} logo" />
<p>{{ text|raw }}</p>
{% if attributeSource == 'engineblock' %}
    <a class="small" href="{{ 'name_id_support_url'|trans }}" target="_blank" rel="noreferrer">{{ 'consent_name_id_support_link'|trans }}</a>
{% else %}
    {% set id %}
        incorrect_{{ attributeSource }}
    {% endset %}
    <input type="checkbox" tabindex="-1" role="button" aria-pressed="false" class="modal visually-hidden" id="{{ id|trim }}" name="{{ id|trim }}" />
    {% include '@theme/Default/Partials/label.html.twig' with {
            class: 'modal',
            id: id|trim,
            hideText: false,
            text: 'consent_attributes_correction_text'|trans
        }
    %}
    {% include '@theme/Authentication/View/Proxy/Partials/Consent/Modals/correction.html.twig' %}
{% endif %}
