{% extends '@themeLayouts/scripts/default.html.twig' %}

{% set pageTitle = 'logout'|trans %}

{% block title %}{{ parent() }} - {{ pageTitle }} {% endblock %}
{% block pageHeading %}{{ parent() }} - {{ pageTitle }}{% endblock %}

{% block content %}
<div class="box">
  <div class="mod-content">
    <h1>Logout</h1>
    <p>{{ 'logout_description'|trans }}</p>
    <p>{{ 'logout_information_link'|trans|raw }}</p>
  </div>
</div>
{% endblock %}