{% extends '@themeLayouts/scripts/empty.html.twig' %}

{% block content %}
<!DOCTYPE html>
<html lang="{{ locale()|escape('html_attr') }}" class="redirect">
<head>
    <title>{{ defaultTitle }} - {{ 'post_data'|trans }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="robots" content="noindex, nofollow">
    <meta content="IE=edge" http-equiv="x-ua-compatible">
    <meta content="initial-scale=1.0,width=device-width" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="translucent-black" name="apple-mobile-web-app-status-bar-style">
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">

    {% block stylesheets %}{% spaceless %}
        <link href="/stylesheets/application.css?v={{ assetsVersion }}" rel="stylesheet">
    {% endspaceless %}{% endblock %}
</head>
<body class="index form" {% if preventAutoSubmit is not defined %} onload="document.forms[0].submit()" {% endif %}>
    <main class="redirect__content">
        <h1 class="redirect__title">{{ 'processing'|trans }}</h1>
        <div class="spinner redirect__spinner"></div>
        <p class="redirect_message hideNoJS">
            {{ 'processing_waiting'|trans }}
            <br />
            {{ 'processing_long'|trans }}
        </p>
        <form id="ProcessForm" method="post" action="{{ action }}">
            <input type="hidden" name="{{ name }}" value="{{ message }}">
            {{ xtra|raw }}
            <noscript>
                <p>
                    <strong>{{ 'note'|trans }}:</strong>
                    {{ 'note_no_script'|trans }}
                </p>
                <input type="submit" value="Submit" class="redirect__noJsSubmit">
            </noscript>
        </form>
    </main>

    <script>
        // do not use arrow notation here, as that breaks the in-built excel browser.
        window.addEventListener('load', function() {
            document.querySelector('.hideNoJS').classList.remove('hideNoJS');
        });
    </script>
</body>
</html>
{% endblock %}
