{% extends '@themeLayouts/scripts/default.html.twig' %}

{% set pageTitle = 'logout'|trans %}

{% block title %}{{ parent() }} - {{ pageTitle }} {% endblock %}
{% block pageHeading %}{{ parent() }} - {{ pageTitle }}{% endblock %}

{% block content %}
<div class="box">
  <div class="mod-content">
    <h1>Logout</h1>
    {% include '@theme/Authentication/View/Proxy/site-notice.html.twig' with { className: 'full-width' } %}
    <p>{{ 'logout_description'|trans }}</p>
    {% if 'logout_information_link_text'|trans %}
        <p><a href="{{ 'logout_information_link_target'|trans }}">{{ 'logout_information_link_text'|trans }}</a></p>
    {% endif %}
  </div>
</div>
{% endblock %}
