<form class="noAccess__requestForm" action="#" method="post" aria-labelledby="noAccess__requestFormTitle">
    {% include '@theme/Default/Partials/critical.html.twig' with {
        className: 'hidden',
        text: 'form_general_error'|trans,
    } %}
    <h3 id="noAccess__requestFormTitle" class="visually-hidden">{{ 'wayf_noaccess_title_screenreader'|trans }}</h3>
    <div
        aria-live="polite"
        class="visually-hidden"
        data-announcement="{{ 'wayf_noaccess_form_announcement_screenreader'|trans }}"
        id="requestFormAnnouncement"
    ></div>
    <input type="hidden" name="spName" value="{{ serviceProvider.displayName(locale()) }}" />
    <input type="hidden" name="spEntityId" value="{{ serviceProvider.entityId }}" />
    <input type="hidden" name="idpEntityId" value="" />
    <input type="hidden" name="institution" value="" />
    <fieldset class="hidden">
        <legend class="hidden">Name</legend>
        <label for="name">
            <strong aria-hidden="true">*</strong> {{ 'wayf_noaccess_name'|trans }}
        </label>
        <input
            aria-required="true"
            autocomplete="name"
            autofocus="autofocus"
            name="name"
            id="name"
            minlength="2"
            type="text"
        />
        <p class="form__error hidden" data-labelfor="name" id="nameerror">
            {{ 'form_error_name'|trans }}
        </p>
    </fieldset>
    <fieldset class="hidden">
        <legend class="hidden">Email</legend>
        <label for="email">
            <strong aria-hidden="true">*</strong> {{ 'wayf_noaccess_email'|trans }}
        </label>
        <input
            aria-required="true"
            autocomplete="email"
            id="email"
            name="email"
            type="email"
        />
        <p class="form__error hidden" id="emailerror" data-labelfor="email">
            {{ 'form_error_email'|trans }}
        </p>
    </fieldset>
    <fieldset class="hidden">
        <legend class="hidden">Motivation</legend>
        <label for="motivation">
            <strong aria-hidden="true">*</strong> {{ 'wayf_noaccess_motivation'|trans }}
        </label>
        <textarea name="comment" required id="motivation" rows="5"></textarea>
    </fieldset>

    {% include '@theme/Authentication/View/Proxy/Partials/WAYF/noAccess/ctas.html.twig' %}
</form>
