{% extends '@themeLayouts/scripts/redesign_default.html.twig' %}

{# SP and IdP name are stored in a local variable for convenience #}
{% set spName = sp.displayName(locale()) %}
{% set idpName = idp.displayName(locale()) %}

{# Prepare the page title #}
{% set pageTitle = 'consent_h1_text'|trans({'%arg1%': spName}) %}

{# Load the sorted/ordered and normalized attributes #}
{% set attributesBySource = sortByDisplayOrder(attributes, attributeSources, nameId) %}

{% block title %}{{ parent() }} - {{ pageTitle }} {% endblock %}

{% block content %}
    {% include '@theme/Default/Partials/LoginBar.html.twig' with { loginName: surfConext } %}
    <main class="consent">
        {% include '@theme/Authentication/View/Proxy/Partials/Consent/header.html.twig' %}

        {% block consent_content %}
            <div class="consent__content">
                {% include '@theme/Authentication/View/Proxy/Partials/Consent/attributes.html.twig' %}

                {# todo check what this is and if it needs to stay #}
                {% if showConsentExplanation and consentSettings.consentExplanationIn(app.request.locale, spEntityId) %}
                        <section class="idp-consent-explanation">
                            {% if idp.logo is not null %}
                                <div class="idp-logo">
                                    <img class="idp-logo logo-small" src="{{ idp.logo.url }}" alt=""/>
                                </div>
                            {% endif %}
                            <p class="title">{{ 'consent_explanation_title'|trans }}</p>
                            <p class="text">{{ consentSettings.consentExplanationIn(app.request.locale, spEntityId) }}</p>

                        </section>
                        {% endif %}

                {% include '@theme/Authentication/View/Proxy/Partials/Consent/ctas.html.twig' %}
            </div>
        {% endblock %}
    </main>
    {% include '@theme/Authentication/View/Proxy/consent-slidein-about.html.twig' %}
{% endblock %}
