{% extends '@themeLayouts/scripts/notConverted.twig' %}

{# Prepare the page title #}
{% set pageTitle = 'cookie_removal_header'|trans %}

{% block content %}
<main class="box">
    <div class="mod-content">
        <h1>{{ 'cookie_removal_header'|trans }}</h1>
        {% include '@theme/Authentication/View/Proxy/Partials/Shared/site-notice.html.twig' %}
        <p>{{ 'cookie_removal_description'|trans }}</p>
        <form id="remove_cookie_form" method="post" class="apply clearfix l-overflow">
            <table class="remove-cookies">
                {% for cookie in cookies %}
                    {% if cookiesSet[cookie] is defined %}
                        <tr>
                            <td class="small-column">
                                <button name="remove_{{ cookie }}" id="remove_{{ cookie }}"
                                        class="c-button" type="submit"> {{ 'cookie_remove_button'|trans }} </button>
                            </td>
                            <td class="small-column"><span>{{ cookie }}</span></td>
                            <td>{{ cookiesSet[cookie]|escape }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td>
                                <button disabled="disabled" name="remove_{{ cookie }}" id="remove_{{ cookie }}"
                                        class="c-button grey" type="submit">{{ 'cookie_remove_button'|trans }}</button>
                            </td>
                            <td><span>{{ cookie }}</span></td>
                            <td>Not set</td>
                        </tr>
                    {% endif %}
                {% endfor %}

                <tr>
                    <td colspan='3'>&nbsp;</td>
                </tr>

                {% if removal %}
                    <tr>
                        <td>
                            <button name="remove_all" id="remove_all"
                                    class="c-button" type="submit">{{ 'cookie_remove_all_button'|trans }}</button>
                        </td>
                        <td colspan="2">
                            {% if all %}
                                {{ 'cookies_removal_confirm'|trans }}
                            {% else %}
                                {{ 'cookie_removal_confirm'|trans }}
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan='3'>
                            <button name='remove_all' id='remove_all' class='c-button' type="submit">
                                {{ 'cookie_remove_all_button'|trans }}
                            </button>
                        </td>
                    </tr>
                {% endif %}
            </table>
        </form>
    </div>
</main>
{% endblock %}
