{% extends '@themeLayouts/scripts/empty.html.twig' %}

{% block content %}

<div class="mod-form">
  <h2>{{ 'request_access_instructions_head'|trans }}</h2>
  <p>{{ 'request_access_instructions_text'|trans }}</p>
  <form id="request_access_form" action="#" method="post" class="apply clearfix">
    <input name="spName" type="hidden" value="{{ queryParameters['spName']|default('') }}">
    <input name="spEntityId" type="hidden" value="{{ queryParameters['spEntityId']|default('') }}">
    <input name="idpEntityId" type="hidden" value="{{ queryParameters['idpEntityId']|default('') }}">

      {% if nameError is defined or emailError is defined or institutionError is defined or commentError is defined %}
        <div class="errors">
          <ul>
              {% if nameError is defined %}
                  {{ 'name_error'|trans }}
              {% endif %}

              {% if emailError is defined %}
                  {{ 'email_error'|trans }}
              {% endif %}

              {% if institutionError is defined %}
                  {{ 'institution_error'|trans }}
              {% endif %}

              {% if commentError is defined %}
                  {{ 'comment_error'|trans }}
              {% endif %}
          </ul>
        </div>
      {% endif %}

    <fieldset>
      <div class="input">
        <label for="name">{{ 'name'|trans }}:</label>
        <input name="name" type="text" id="name" value="{{ queryParameters['name']|default('') }}">
      </div>

      <div class="input">
        <label for="email">{{ 'email'|trans }}:</label>
        <input name="email" type="email" id="email" value="{{ queryParameters['email']|default('') }}" />
      </div>

      <div class="input">
        <label for="institution">{{ 'institution'|trans|capitalize }}:</label>
        <input name="institution" type="text" id="institution" value="{{ queryParameters['institution']|default('') }}" />
      </div>

      <div class="input">
        <label for="comment" class="top">{{ 'comment'|trans }}:</label>
        <textarea name="comment" id="comment">{{ queryParameters['comment']|default('') }}</textarea>
      </div>
    </fieldset>

    <fieldset>
      <div class="actions">
        <button id="request_access_submit" class="c-button">{{ 'send'|trans }}</button>
        <button id="cancel_request_access" class="cancel c-button outline close-modal">{{ 'cancel'|trans }}</button>
      </div>
    </fieldset>
  </form>
</div>
{% endblock %}
